<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">
        <img src="https://icons-for-free.com/iconfiles/png/512/marvel+super+hero+wolverine+icon-1320166754256786631.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Heroes V2 Homepage
        <img src="https://icons-for-free.com/iconfiles/png/512/marvel+super+hero+wolverine+icon-1320166754256786631.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a>
    </div>
  </nav>