
<!--
<div class="h-75 row align-items-center">
    
    <div class="col-12">
        <img src="https://bit.ly/3AGIGpa" alt="" class="center-block" />
  
    </div>
  </div>
-->
  
<div class="h-75 row align-items-center" >
    <div class="col-3 mb-1">
        
    </div>
    <div class="col-3 mb-1">
        <h1 style="color:darkblue;font-size:140px;">404</h1> 
    </div>

    <div class="col-3 mb-1">
        <img src="https://bit.ly/3AGIGpa" alt="" class="center-block" />
    </div>   
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Homepage</a>
</div>    
